.d-flex{
    width: 310px;
    height: 250px;
    border: 2px solid green;
    float: left;
    margin: 5px;
}
.flex-container{
    
    padding: 15px;
    text-align: center;
    color: #000000;
    font-family: arial, sans-serif;
}